<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--	  xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--	<meta charset="utf-8" />-->
<!--	<title>Մուտքագրել նոր ապրանք</title>-->
<!--</head>-->
<!--<body>-->
<!--<div align="center">-->
<!--	<h1>Մուտքագրել տեղափոխությունները</h1>-->
<!--	<br />-->


<!--	<table id="testTable" border="0" cellpadding="10">-->
<!--		<thead>-->

<!--		<tr>-->
<!--			<th>Ապրանքը</th>-->
<!--			<th>Տեղափոխությունը</th>-->

<!--		</tr>-->
<!--		</thead>-->
<!--		<tbody>-->
<!--			<form action="#" th:action="@{/nextReplaceBalanceProduct}" th:object="${list}"-->
<!--			  method="post">-->
<!--			<tr th:each="b, itemStat : *{replaceProductModelList}">-->
<!--				<td  th:field="*{replaceProductModelList[__${itemStat.index}__].product}" th:text="${b.product.name} + '(Արժեք:' + ${b.product.price} + ' դրամ, քանակը: ' + ${b.product.count} + ' ' + ${b.product.unit} + ')'">-->
<!--					Ապրանքը-->
<!--				</td>-->
<!--				<td>-->
<!--					<input  th:field="*{replaceProductModelList[__${itemStat.index}__].count}" type="text">-->
<!--				</td>-->

<!--				<td style="width: 0%"><input hidden="hidden" type="date"  th:field="*{replaceProductModelList[__${itemStat.index}__].replaceDate}"></td>-->
<!--				<td style="width: 0%"><input hidden="hidden"  th:field="*{replaceProductModelList[__${itemStat.index}__].oldCount}"></td>-->
<!--				<td style="width: 0%"><input hidden="hidden"  th:field="*{replaceProductModelList[__${itemStat.index}__].name}"></td>-->
<!--				<td style="width: 0%"><input hidden="hidden" type="text"  th:field="*{replaceProductModelList[__${itemStat.index}__].place}"></td>-->
<!--				<td style="width: 0%"><input hidden="hidden" type="text"  th:field="*{replaceProductModelList[__${itemStat.index}__].productId}"></td>-->

<!--			</tr>-->
<!--			<button type="submit" name="action" value="Save">Next</button>-->
<!--		</form>-->
<!--		</tbody>-->
<!--	</table>-->


<!--</div>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Մուտքագրել նոր փոխանցում</title>
</head>
<body>
<div align="center">
	<a href="/">Գլխավոր էջ</a>

	<h1>Մուտքագրել նոր փոխանցում</h1>
	<br />
	<form action="#" th:action="@{/saveReplace}" th:object="${replace}"
		  method="post">

		<table border="0" cellpadding="10">
			<tr>
				<td>Անուն:</td>
				<td><input type="text" th:field="*{name}"  th:required="required"/></td>
			</tr>
			<tr>
				<td>Փոխադրվող քանակը:</td>
				<td><input type="text" th:field="*{count}"  th:required="required"/></td>
			</tr>
			<tr>
				<td>Չափման միավոր</td>
				<td><select th:field="*{unit}" th:required="required">
					<option th:value="''" th:text="---"></option>
					<option th:value="'Տուփ'" th:text="Տուփ"></option>
					<option th:value="'Շիշ'" th:text="Շիշ"></option>
					<option th:value="'Գրամ'" th:text="Գ"></option>
					<option th:value="'Կիլոգրամ'" th:text="Կգ"></option>
					<option th:value="'Հատ'" th:text="Հատ"></option>
					<option th:value="'Լիտր'" th:text="Լիտր"></option>
					<option th:value="'Մետր'" th:text="Մ"></option>
					<option th:value="'Փաթեթ'" th:text="Փաթեթ"></option>
					<option th:value="'Պարկ'" th:text="Պարկ"></option>
					<option th:value="'Կոմպլեկտ'" th:text="Կոմպլեկտ"></option>
				</select></td>
			</tr>
			<tr>
				<td></td>
				<td style="width: 0%"><input hidden="hidden" type="date"  th:field="*{replaceDate}"></td>
			</tr>
			<tr>
				<td></td>
				<td style="width: 0%"><input hidden="hidden" type="text"  th:field="*{place}"></td>
			</tr>

			<tr>
				<td colspan="2"><button name="action" value="Save" type="submit">Պահպանել</button> </td>
				<td colspan="2"><button name="action" value="Next" type="submit">Պատպանել և մուտքագրել նորը</button> </td>

			</tr>
		</table>
	</form>
</div>
</body>
</html>